@using LuxuryWatches.Models
@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<SanPham>

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "DanhMucSanPham";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>DanhMucSanPham</h1>

<p>
    <a asp-action="ThemSanPhamMoi">Create New</a>
</p>
<p>@TempData["Message"]</p>
<table class="table">
    <thead>
        <tr class="table-warning">
            <th>
                Tên Sản Phẩm
            </th>      
            <th>
                Ngày Đăng Sản Phẩm
            </th>
            <th>
                Đã duyệt
            </th>
            <th>
                Giá Bán
            </th>
            <th>
                Giảm Giá
            </th>
            <th>
                Nhà Sản Xuất
            </th>
            <th>
                DVT
            </th>
            
            
            <th></th>
        </tr>
    </thead>
    <tbody>

        @{
            int i = 0;
            string @cls = "table-success";
        }
@foreach (var item in Model) {
            i = i + 1;
            cls = "table-success";
            if (i % 2 == 0)
            {
                cls = "table-danger";

            }


        <tr class="@cls">
            <td>
                @Html.DisplayFor(modelItem => item.TenSp)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.NgayDang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DaDuyet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaBan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiamGia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NhaSanXuat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dvt)
            </td>
            
            <td>
                <a asp-action="SuaSanPham" asp-route-MaSP="@item.MaSp">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaSp">Details</a> |
                <a asp-action="XoaSanPham" asp-route-MaSp="@item.MaSp">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@{
    var pagedList = Model; // Model của bạn là đối tượng IPagedList<T>
}

@if (pagedList.PageCount > 1)
{
    @Html.PagedListPager(pagedList, page => Url.Action("DanhMucSanPham", new { page = page }), new PagedListRenderOptions
{
    LiElementClasses = new List<string> { "page-item" },
    PageClasses = new List<string> { "page-link" }
})
}